[submodule "csci3100/project"]
	path = csci3100/project
	url = https://github.com/onenylxus/csci3100-project
[submodule "csci3260/project"]
	path = csci3260/project
	url = https://github.com/panliu0310/csci3260_project
